@font-face {
	font-family: "noto-sans";
	font-weight: 100;
	src: url('../font/NotoSansKR-Light.otf');
}
@font-face {
	font-family: "noto-sans";
	font-weight: 300;
	src: url('../font/NotoSansKR-Regular.otf');
}
@font-face {
	font-family: "noto-sans";
	font-weight: 600;
	src: url('../font/NotoSansKR-Bold.otf');
}
@font-face {
	font-family: "Dabanggu";
	src: url('../font/Dabanggu.ttf');
}
