@font-face {
	font-family: "Dabanggu";
	src: url(Dabanggu.ttf);
}
*{
	box-sizing: border-box;
	position: relative;
}
html, body, #wrap{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Dabanggu', sans-serif;
}
button{
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}