$purple : #7E84F3;
$mid_purple : #ADB0F8;
$light_purple: #C7CBFF;
$font_purple : #43425D;
$dark_purple : #525AF1;

$shadow_gray : gray;
$light_gray : #CECACA;
$font_gray : #C5C5C5;

$desktop : 1024px;
$tablet : 712px;