@import "../base/reset";
@import "../component/header";
@import "../base/variable";
@import "../base/mixin";

@mixin select-button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  & > select {
    padding-right: 40px;
    text-align-last: center;
    margin-bottom: 2rem;
    width: 40%;
    height: 40px;
    border: 1.7px solid #{$light_gray};
    font-size: 15px;
    appearance: none;
    background: url("../../img/arrow.png") no-repeat 100% 50%/40px auto;
    &:focus {
      outline: none;
    }
  }
}

.create-container {
  @include desktop() {
    height: 100%;
  }
  .create-title {
    margin: 15px 0;
  }
  .create-setting {
    display: flex;
    flex-direction: column;
    @include desktop() {
      flex-direction: row;
      justify-content: space-around;
    }
    .create-calender {
      @include desktop() {
        width: 40%;
      }

      .rdrCalendarWrapper {
        width: 100% !important;
        .rdrDateDisplayWrapper {
          display: none;
        }
        .rdrDayToday .rdrDayNumber span:after {
          background: #{$purple};
        }
        .rdrDays button {
          border: 1.2px solid #cecaca;
          height: 3rem;
        }
      }
    }
  }
  .create-content {
    @include desktop() {
      width: 50%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .create-content-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      .create-plan-name {
        input {
          width: 100%;
          height: 60px;
          text-align: center;
          font-size: 17px;
          border: solid #{$purple};
          margin-bottom: 2rem;
          &::placeholder {
            color: #{$light_gray};
            font-size: 15px;
            text-align: center;
            font-weight: bold;
          }
          &:focus {
            outline: #{$purple};
          }
        }
      }
      .create-time,
      .create-gap {
        @include select-button;
      }
      .create-option {
        .form-check {
          display: block;
          min-height: 1.5rem;
          padding-left: 2em;
          margin-bottom: 0.125rem;
        }
        .form-check-input {
          // switch
          width: 1em;
          height: 1em;
          margin-top: 0.25em;
          margin-right: 0.7em;
          vertical-align: top;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          border: 1px solid rgba(0, 0, 0, 0.25);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-print-color-adjust: exact;
          color-adjust: exact;
        }
        .form-check-input:focus {
          border-color: #{$light_purple};
          outline: 0;
          box-shadow: 0 0 0 0.25rem #{$light_purple};
        }
        .form-check-input:checked {
          background-color: #{$purple};
          border-color: #{$purple};
        }
        .form-switch .form-check-input {
          width: 2.5em;
          height: 1.5em;
          margin-left: -2.5em;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
          background-position: left center;
          border-radius: 2em;
          transition: background-position 0.15s ease-in-out;
        }
        .form-switch .form-check-input:checked {
          background-position: right center;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
      }
    }
    .create-create-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
        margin-top: 15px;
        width: 9rem;
        height: 40px;
        font-size: 15px;
        background-color: #{$purple};
        color: white;
        border: none;
        font-family: "Dabanggu", sans-serif;
      }
    }
  }
}
