@import "../base/variable";
@import "../base/mixin";
@import "../base/font";


header{
	height: 50px;
	box-shadow: 0 0 5px #{$shadow_gray};
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 36px;
	@include desktop(){
		height: 70px;
		padding: 0 80px;
	}
	.title{
		font-family: 'Dabanggu', sans-serif;
		font-size: 2rem;
		font-weight: 400;
		color: #{$purple};
	}
	.share-con>button{
		text-decoration: underline;
	}
}