@import "../base/variable";

.time-picker .MuiDrawer-paper{
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 30px;
	margin-right: -30px;
	padding-right: 50px;
	.picker-title{
		font-weight: 600;
		font-family: 'Dabanggu', 'noto-sans', sans-serif;
		margin-bottom: 10px;
	}
	.scroll-picker{
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		padding: 0 10px;
	}
	button{
		width: 200px;
		height: 50px;
		margin: 10px;
		border: 2px solid $purple;
	}
}